html, body {
  
  margin: 0;
  /* background-color: red; */
} 



#app {
  margin: 0 0;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
}

button:hover{
  cursor: pointer;
}