@import "tailwindcss";


@theme {
    --color-darkest: #0D0D0D;
    --color-darker: #121212;
    --color-dark: #202020;
    --color-grey: #D3D3D3;
    --color-amarillote: #fbce10;
    --color-azulito: #6490c0;
    --color-amarillito: #e2deb7;
    --color-mywhite: #F2F2F2;
    --color-primary: #7934BF;
    --color-other: #0FC2C0;
}

/* Scrollbar width */
pre::-webkit-scrollbar {
  height: 8px;          /* horizontal scrollbar height */
  width: 8px;           /* vertical scrollbar width */
}

/* Track (background) */
pre::-webkit-scrollbar-track {
  background: #1c1c1c;  /* dark grey or black track */
}

/* Thumb (the draggable part) */
pre::-webkit-scrollbar-thumb {
  background-color: #0D0D0D; /* black */
  border-radius: 4px;
}

/* Thumb on hover */
pre::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* slightly lighter on hover */
  cursor: pointer;
}
